.titulo-principal__numero span
  color: $color-sistema-texto

.tarjeta--morado
  background-color: #675D84

.lista-ul--color.lista-morada li > i:first-of-type
  color: #675D84
.lista-ul--color.lista-salmon li > i:first-of-type
  color: #FF7758
.lista-salmon > i:first-of-type
  color: #FF7758  

.linea-tiempo-d__item .tarjeta--gris
  background-color: #FFCBBF
.linea-tiempo-d__item--selected .tarjeta--gris
  background-color: #F6F6F6
.linea-tiempo-d.color-secundario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #F6F6F6

.bloque-texto-b.color-gris:before
  background-color: #F6F6F6
.bloque-texto-b.color-gris:before
  top: 45%
  bottom: 7%
  left: 25%
  right: 9%
.comilla-inicial
  display: flex
  align-content: flex-start
  flex-wrap: wrap
.comilla-final
  display: flex
  align-content: flex-end
  flex-wrap: wrap

.bloque-texto-b.color-morado2:before
  background-color: #F2EDFF
.bloque-texto-b.color-morado2:before
  top: 50%
  bottom: 0%
  left: 33%